<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	</head>
	<body>

		<div class="header">
		  <h1>My Guestbook</h1>
		</div>

		<div class="topnav">
		  <a href="#">Home</a>
		  <a href="#">Submit</a>
		</div>

		{% for result in results %}
		<div class="row">
		  <div class="maincolumn">
			<div class="card">
			  <h2>{{ result.name }}</h2>
			  <p>{{ result.comment }}</p>
			</div>
		  </div>
		</div>
		{% endfor %}
		<div class="footer">
		  <h2>Footer</h2>
		</div>

	</body>
</html>
